/*COLORS*/

/*backgrounds*/
$bg-color: #070707;
$bg-box-video: #b76bff;
$bg-color-transparente: rgba(0, 0, 0, 0.87);
$bg-box-album: #fa8072;

/*hover: gb y font*/
$bg-hover-videos: rgba(255, 94, 0, 0.521);
$bg-hover-banner: rgb(255, 128, 128);
$hover-color: #dfdfdf;

/*font colors*/
$principal-color: #faebd7;
$secondary-color: #ff0000;

/*font maps*/
$font-weights:(
    light: 300,
    regular: 400,
    bold: 700,
    black: 900
);