* {
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Tahoma, sans-serif;
}

.header {
  font-size: 16px;
  /*Posicionamiento*/
  position: fixed; /*Se queda fijo*/
  top: 0;
  left: 0;
  right: 0;
  background-color: antiquewhite;
}

.header .barra {
  /*Estilos de Lista*/
  list-style-type: none;
}

.header .barra .barraElemento {
  float: right; /*Muestra los elementos en linea a la derecha*/
  padding: 10px 20px 10px 20px;
}

.header .barra .barraElemento .enlaces {
  text-decoration: none;
}

.box {
  background-color: antiquewhite;
  margin: 4% 65px 22px 65px;
  padding: 15px 35px 15px 35px;
}

.box .boxImagen{
  float: right;
  background-color: white;
  display: inline;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}
.box .boxParrafos{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 16px;;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.box .imagenUno{
  width: 200;
  display: inline;
}

/*TITULOS*/

.tituloUno{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 30px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.tituloDos{
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 20px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.parrafos{
  display: inline;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}

/* PAGINA DE CONTACTO */

.formulario{
  display: inline;
}

.labels{
  padding: 5px 5px 5px 5px;
  margin: 15px 10px 15px 10px;
}
.inputs{
  padding: 5px 5px 5px 5px;
  margin: 15px 900px 15px 10px;
}

/*ALBUMES*/

.elementosAlbum{
  margin: 2px 2px 2px 15px;
}

.elementosAlbumLista{
  margin: 2px 2px 2px 45px;
}

.imagenAlbum{
  width: 400px;
  height: 400px;
}

/*FOOTER*/

#footer {
  font-size: 16px;
  /*Posicionamiento*/
  left: 0;
  bottom: 0;
  right: 0;
  background-color: antiquewhite;
}

#footer .barra {
  /*Estilos de Lista*/
  list-style-type: none;
}

#footer .barra .barraElemento {
  float: left; /*Muestra los elementos en linea a la derecha*/
  padding: 10px 20px 10px 20px;
  
}

#footer .barra .barraElemento .enlaces {
  text-decoration: none;
}
